body{
    font-family: 'Roboto', sans-serif;
}

#header{
    display: flex;
}

.first-area {
    width: 50%;
    padding-left: 8%;
    font-family:'Times New Roman', Times, serif ;
    font-size: 30px;

}
.first-area h1{
    font-size: 80px;


}
.skip{
    color:orange;
}
.order{
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
    width: 90px;
    background-image: linear-gradient(red,orange);
    margin-top:0 auto;
    box-shadow: 0 4px 8px 0 rgba(160, 71, 135, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     ;
        
}
.food{
    font-size: 25px;
    color:#ffffff;
    
}
.margin{
    margin-top: 80px;    
}
.sima{
    background-image:url(images/female/Frame\ 59.png);
    background-repeat: no-repeat;
   background-size:1%;
    
    
}
.sima h1{
    width: 700px;
    height: 300px;
}

    

}
#flex-container{
    display: flex;
    
}

.sima{
    background-image: url(images/female/Frame\ 59.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.sima h2{
    
    margin-left: 1000px;
    padding-top: 200px;
    font-size: 50px;
    color:rgb(17, 17, 136)
}
.sima p{
    margin-left: 1000px;
    word-wrap: 20px;

}
.link-color{
    padding:10px 40px;
    background-image: linear-gradient(orange,red);
    margin-left: 1000px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 25px;
    border-top: 100px;
    color: white;
    margin-top: 20px;
    

    

}


