body{
    font-family: 'Roboto', sans-serif;
}

#header{
    display: flex;
}

.first-area {
    width: 50%;
    padding-left: 8%;
    font-family:'Times New Roman', Times, serif ;
    font-size: 30px;

}
.first-area h1{
    font-size: 80px;


}
.skip{
    color:orange;
}
.order{
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
    width: 90px;
    background-image: linear-gradient(red,orange);
    margin-top:0 auto;
    box-shadow: 0 4px 8px 0 rgba(160, 71, 135, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     ;
        
}
.food{
    font-size: 25px;
    color:white;
    
}
.margin{
    margin-top: 80px;    
}
.first-area img{
    width: 700px;
}